<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Noticias</title>
    <meta name="keywords" content="ojo, cirugía, oftalmólogo, oftalmología, doctor, ojos, cosme, fulanito, doctor, médico, uba" />
    <meta name="description" content= "Conozca las últimas novedades y los nuevos procedimientos que realizamos actualmente en nuestro consultorio." />
    <link rel="icon" type="image/x-icon" href="../assets/eye.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arbutus+Slab&family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilos.css" />
  </head>
  <body>
    <header>

      <nav class="navbar navbar-expand-lg px-4 py-2">
        <section class="header__intro">
          <a href="../index.html"><img
            src="../assets/custom-logo.jpg"
            alt="Dr. Cosme Fulanito"
            class="header__logo"
          /></a>
          <p class="header__title px-1">Oftalmología Fulanito</p>
        </section>
        
        <div class="text-center m-4">
          <button class="navbar-toggler p-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
              <li class="nav-item">
                <a class="nav-link mx-4" aria-current="page" href="../index.html">Home</a>
              </li>
              <li class="nav-item mx-4">
                <a class="nav-link" href="../views/oftalmologia.html">Oftalmología</a>
              </li>
              <li class="nav-item mx-4">
                <a class="nav-link" href="../views/noticias.html">Noticias</a>
              </li>
              <li class="nav-item mx-4">
                <a class="nav-link" href="../views/contacto.html">Contacto</a>
              </li>
              <li class="nav-item mx-4">
                <a class="nav-link" href="../views/ubicacion.html">Ubicación</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main id="main">

      <section class="banner2">
        <div>
          <h1 class="banner__title">Nuestras publicaciones</h1>
          <p class="banner__text">
            Aquí podrá encontrar las últimas publicaciones que nuestro equipo de académicos ha llevado a cabo en todo lo relacionado a los procedimientos que desarrollamos.
          </p>
        </div>
        <picture class="banner__img">
          <img src="../assets/cosme-fulanito.png" alt="cosme-fulanito" />
        </picture>
      </section>

      <!-- CARDS 2 COL, RESPONSIVE c/ GRIDS -->

      <section id= "cards" class="cards">

        <article class="card">
          <picture class="card__img">
            <img src="../assets/hipermetropia.jpg" alt="hipermetropia">
          </picture>
          <div>
            <h3 class="card__title card__title--destacada"> Hipermetropía</h3>
            <p class="card__text">La hipermetropía (también llamada hiperopía) es un error de refracción que hace que los objetos cercanos se vean borrosos. Se presenta cuando la forma del ojo hace que la luz se enfoque por detrás de la retina (una capa de tejido sensible a la luz en la parte de atrás del ojo) en lugar de directamente en la retina.</p>
          </div>

        </article>

        <article class="card">
          <picture>
            <img src="../assets/presbicia.jpg" alt="presbicia">
          </picture>
          <div>
            <h3 class="card__title"> Presbicia</h3>
            <p class="card__text">La presbicia es la pérdida gradual de la capacidad de los ojos para enfocar objetos cercanos. Es una parte natural y a veces molesta del envejecimiento. Por lo general, la presbicia empieza a notarse entre los 40 y 45 años y continúa empeorando hasta alrededor de los 65 años.</p>
          </div>
        </article>

        <article class="card">
          <picture>
            <img src="../assets/cataratas.png"alt="cataratas">
          </picture>
          <div>
            <h3 class="card__title"> Cataratas</h3>
            <p class="card__text">Una catarata es un área nublada en el cristalino (el “lente” de su ojo). Las cataratas son muy comunes a medida que envejecemos. En efecto, más de la mitad de todos los estadounidenses de 80 años o más tiene cataratas o ha tenido cirugía para eliminarlas.</p>
          </div>
        </article>

        <article class="card">
          <picture>
            <img src="../assets/ojo-seco.jpg" alt="ojo-seco">
          </picture>
          <div>
            <h3 class="card__title"> Ojo seco</h3>
            <p class="card__text" >Los ojos secos son una afección frecuente que aparece cuando las lágrimas no pueden lubricar los ojos de forma adecuada. Las lágrimas pueden ser inestables e insuficientes por varias razones. Por ejemplo, puedes tener ojos rojos si no produces suficientes lágrimas o si produces lágrimas de baja calidad.</p>
          </div>
        </article>
      </section>      
      
      </section>
    </main>
    <footer id="abajo" class="footer">
      <p class="footer_ref">
        <a class="placeholder" href="#arriba">Ir Arriba</a>
      </p>
      <div class="text-center">
        <h3 class="mt-2">¡Visite nuestras redes!</h3>

        <ul class="my-4 list-unstyled d-inline-block">
          <li class="icon__redes list-inline-item"><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram-square"></i></a></li>
          <li class="icon__redes list-inline-item"><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
          <li class="icon__redes list-inline-item"><a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>

      </div>
      <p class="text-center">
        Copyright 2022 Cosme Fulanito | Médico oftalmólogo. Todos los derechos
        registrados. Diseño Web por Juan Manuel Blazquez.
      </p>
    </footer>
    <script src="https://kit.fontawesome.com/06c0834a0e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>
