<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oftalmología</title>
    <link rel="icon" type="image/x-icon" href="../assets/eye.png" />
    <link rel="stylesheet" href="../estilos-css/estilos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arbutus+Slab&family=Lobster&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header id="arriba" class="header">
      <section class="header__intro">
        <img
          src="../assets/custom-logo.jpg"
          alt="Dr. Cosme Fulanito"
          class="header__logo"
        />
        <h1 class="header__title">Oftalmología Fulanito</h1>
      </section>
      <!-- Nav replicado en views secundarias -->
      <nav class="header__navbar">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../views/oftalmologia.html">Oftalmología</a></li>
          <li><a href="../views/noticias.html">Noticias</a></li>
          <li><a href="../views/contacto.html">Contacto</a></li>
          <li><a href="../views/ubicacion.html">Ubicación</a></li>
        </ul>
      </nav>
      <p class="header__ref">
        <a href="#abajo">Ir abajo</a>
      </p>
    </header>
    <main>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia libero
        voluptates non, modi adipisci optio veniam magni iusto illum atque
        ducimus suscipit? Ad numquam architecto eum necessitatibus! Sit, optio
        a.
      </p>
      <!-- Tabla 1-->
      <section>
        <table>
          <h2>Dolencias y su tratamiento</h2>
          <tr>
            <th>Estrabismo</th>
            <th>Glaucoma</th>
            <th>Ojo Seco</th>
            <th>Refracción</th>
            <th>Retina</th>
          </tr>
          <tr>
            <td>info1</td>
            <td>info2</td>
            <td>info3</td>
            <td>info4</td>
            <td>
              <ol>
              <li>
                info5-1 
              </li>
              <li>
                info5-2
              </li>
            </ol>
          </td>
          </tr>
        </table>
      </section>
    </main>
    <footer id="abajo" class="footer">
      <p class="footer_ref">
        <a href="#arriba">Ir Arriba</a>
      </p>
      <p>
        Copyright 2022 Cosme Fulanito | Médico oftalmólogo. Todos los derechos
        registrados. Diseño Web por Juan Manuel Blazquez.
      </p>
    </footer>
  </body>
</html>
