<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ubicación</title>
    <link rel="icon" type="image/x-icon" href="../assets/eye.png" />
    <link rel="stylesheet" href="../estilos-css/estilos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arbutus+Slab&family=Lobster&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
  
    <header id="arriba" class="header">
      <section class="header__intro">
        <img
          src="../assets/custom-logo.jpg"
          alt="Dr. Cosme Fulanito"
          class="header__logo"
        />
        <h1 class="header__title">Oftalmología Fulanito</h1>
      </section>
      <!-- Nav replicado en views secundarias -->
      <nav class="header__navbar">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../views/oftalmologia.html">Oftalmología</a></li>
          <li><a href="../views/noticias.html">Noticias</a></li>
          <li><a href="../views/contacto.html">Contacto</a></li>
          <li><a href="../views/ubicacion.html">Ubicación</a></li>
        </ul>
      </nav>
      <p class="header__ref">
        <a href="#abajo">Ir abajo</a>
      </p>
    </header>

    <main>     
      <h2>Nuestro consultorio</h2>
      <p>
        Ahora con atención presencial tanto como virtual: Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Eos distinctio impedit, vitae officia
        sed voluptatum, iusto repudiandae cumque laudantium quasi, non modi
        voluptatem temporibus minima quaerat suscipit vel ut ea.
      </p>
      <h2>Escríbame por Whatsapp</h2>
      <p>+1 349 555-666</p>
      <h2>Comuníquese vía mail</h2>
      <p>dr.cosme@fulanito.org</p>
      <h2>Dónde encontrarnos</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!4v1654807329685!6m8!1m7!1sYG_yrGeMWJS86x_bfZ-Q5w!2m2!1d36.11448287882947!2d-115.1754251187475!3f2.9988489301318344!4f29.919355982901976!5f1.2487358620127487"
        width="800"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </main>
    <footer id="abajo" class="footer">
      <p class="footer_ref">
        <a href="#arriba">Ir Arriba</a>
      </p>
      <p>
        Copyright 2022 Cosme Fulanito | Médico oftalmólogo. Todos los derechos
        registrados. Diseño Web por Juan Manuel Blazquez.
      </p>
    </footer>
  </body>
</html>
