*::before,
*::after, 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html{
  background-color:#33b0be46;
}

:root{
/* Font-Family */
--font-titles: 'Arbutus Slab';
--font-main: 'Abril Slab';

/* Font Sizes */
--text-xsmall: 0.8em;
--text-small: 1em;
--text-medium: 1.5em;
--text-large: 2em;

/* Colors */
--color-darkblue: #024a59;
--color-teal: #2997a3;
--color-beige: rgb(248, 249, 233);
--color-red: #f24b27;
--color-darkbrown: rgb(78, 68, 56);

}

html, body {
  font-family: var(--font-main);
  height: 100%;
}

h1, h2, h3, h4 {
  font-family: var(--font-titles);
}

img {
  width:100%
}

/* ---HEADER--- */
/* -----Logo + title----- */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem;
  background-color:#33b0be46;

}


.header__intro {
  display: flex;
  width: 400px;
}

.header__logo {
  height: 120px;
  width: auto;
  padding: 0rem;
}

.header__title {
  align-self: center;
  font-size: var(--text-large);
  font-variant: small-caps;
  font-style: normal;
  text-transform: uppercase capitalize;
  font-weight: 500;
  text-align: center;
}

/* ---Navbar--- */

/* .header__navbar ul {
  display:flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
  position: relative;
  width: 100%;
}

.header__navbar li {
  margin: 1rem;
}

.header__navbar a {
  padding: 0.2rem;
  font-size: 1.2em;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  font-style: normal;
  font-family: var(--font-titles);
  text-transform: uppercase capitalize;
  font-weight: 500;
  background-color: rgb(41,153,165,0.6);
  color: rgb(19, 12, 78);
  clear: both;
} */

/* HOVER NAVBAR */

/* .header__navbar li::before{
  content: " ";
  display: absolute;
  width: 0.3rem;
  height: 0.3rem;

}

.header__navbar li::after{
  content: " ";
  display: block;
  width: 1rem;
  height: 0.3rem;
  border-bottom: 0.3rem solid rgb(48, 48, 155);
  border-radius: 0.3rem;

}

.header__navbar li:hover::after{
  content: " ";
  display: block;
  width: 100%;
  height: 0.3rem;
  border-bottom: 0.3rem solid darkblue;
  transition: all 0.4s;

} */


/* -----Placeholder ref----- */
.header__ref {
  display: none;
}

/* -----INDEX-main----- */
/* ---Banner introductorio--- */

.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 1.6em;
  padding: 0rem 1rem;
  background-image: url('../assets/banner-light-purple.jpeg');
  background-color: rgb(192, 166, 216);
  background-size: cover;
}

.banner__title {
  color: #1b65c5;
  margin-bottom: 0.2em;
  font-weight: 600;
  font-family: var(--font-titles);
}

.banner__text {
  width: 500px;
  text-align: justify;
  letter-spacing: 0.4px;
  font-family: var(--font-main);
}

.banner__img {
  margin: 5rem;
  padding: 2rem 0rem 0rem 2rem;
  max-width: 100%;
}

/* ---Banners secundarios--- */

.banner2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 1.6em;
  padding: 0rem 1rem;
  background: linear-gradient(140deg, rgb(158, 196, 201) 0%, rgb(124, 183, 212) 25%, rgb(117, 182, 196) 39%, rgb(191, 166, 212) 95%);
}

/* -----FOTO CONSULTORIO----- */

.consultorio{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2, 1fr;
}

.consultorio__img{
  grid-column: 2/3;
  padding: 1rem;
}

.consultorio__info{
  grid-column: 1/4;
  grid-row: 2;
  align-items: center;
  text-align: center;
}

/* -----NOTICIAS-main----- */

/* CARDS */

.card__info{
  text-align: center;
  
}

.cards{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 1200px;
  background-color: rgb(41,153,165, 0.2);
}

.cards__title{
  padding-left: 1em;
}

.card{
  padding: 1rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  background-color: rgb(41,153,165, 0.2);
  border-radius: 10px;

}

.card picture img{

  max-height: 300px;

}

  /* CARDS ANIMATE */
  
.card{
  display:grid;
  position:relative;
  place-items: center;
  overflow:hidden;

}

.card::before{
  content:" ";
  width: 12vh;
  height: 82vh;
  position: absolute;
  background: linear-gradient(#f52727, #f3f03d);
  animation: animate 100s linear infinite;
  z-index: -2;

}

@keyframes animate{
  0%{ transform:rotate(0deg); }
  100%{ transform:rotate(360deg);}
}

.card::after{
  content:" ";
  position: absolute;
  inset: 3px;
  border-radius: 5px;
  background-color: rgb(250, 255, 255);
  z-index: -1;
}

.card__content{
  z-index: 1000;
}



/* -----OFTALMOLOGIA-main----- */

.list{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 3rem;

}

/* ---FOOTER--- */
.footer {
  margin-top: 1rem;
  background-color: rgba(201, 158, 250, 0.212);
  padding: 1rem;
}

/* -----Placeholder ref----- */
.footer a {
  display: none;
}


/* -----RESPONSIVE----- */

@media screen and (max-width:480px) {

  .cards{
    display: flex;
    flex-wrap: wrap;
  }

  .header__intro {
    display: flex;
    width: 100%;
  }
  
  .header__logo {
    height: 10vh;
  }

  .banner__title{
    padding: 0.5rem;
    font-family: var(--font-titles);
    font-size: var(--text-medium);
  }
  .banner__text {
    width: 100%;
    font-family: var(--font-main);
    font-size: var(--text-small);
  }

  .banner__img {
    margin: 1rem;
    padding: 0rem;
    max-width: 100%;
  }

  .consultorio__img{
    grid-column: 1/4;
    padding: 1rem;
  }

  .card__text{
    font-size:var(--text-xsmall);
  }

  .card__title{
    font-size: var(--text-small);
  }
  
}