/* ---Banners secundarios--- */

.banner2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 1.6em;
  padding: 0rem 1rem;
  background: linear-gradient(
    140deg,
    rgb(184, 158, 201) 0%,
    rgb(205, 229, 241) 25%,
    rgb(134, 218, 247) 85%,
  );
}
