/* ---FOOTER--- */
.footer {
  background-color: rgba(211, 175, 251, 0.212);
  padding: 1rem;

  .placeholder {
    display: none;
  }

  /* ICONOS REDES SOCIALES */

  .svg-inline--fa {
    font-size: 2.5em;
  }
}
