/* UBICACIÓN Main */

.divider h2{
    border-top: 3px solid darkcyan;
  
  }
  
  .divider h2 a{
    color:black;
  
  }
  .divider p {
    font-size: 1.5em;
  }
  
  .map{
  --bs-aspect-ratio: 25%;
  }